<section >
  <article>


    <form  [formGroup]="form">
      <mat-label class="label-input" >Name</mat-label>
      <input type="text" formControlName="name">

      <mat-label class="label-input">Email</mat-label>
      <input type="text"  formControlName="email" >

      <mat-label class="label-input">Password</mat-label>
      <input type="text"  formControlName="password">

      <mat-form-field style="width: 500px;">
        <mat-label>Qual tipo de conta você deseja criar ?</mat-label>


          <mat-select formControlName="role">

              <mat-option value="cliente" >cliente</mat-option>
              <mat-option value="funcionário">funcionário</mat-option>

          </mat-select>
      </mat-form-field>

      <button (click)="emitir()">ENTER</button>
    </form>



  </article>
</section>
