<div class="container-list-cinema-comprar">
  <div class="list-cinema-comprar">
    <div class="container-btn-close" (click)="onEventExit()">
      <button mat-icon-button>

        <mat-icon>arrow_circle_left</mat-icon>
      </button>


    </div>
    <div>

      <section>
        <form [formGroup]="form" class="form">
          <mat-form-field>

            <mat-select  (selectionChange)="onEventSelectCinemaInSalas($event)" formControlName="selectCinema">

              @for (item of cinemas$|async; track $index) {
              <mat-option [value]="item">{{item.name}}</mat-option>
              }
            </mat-select>


          </mat-form-field>

          <mat-form-field>

            <mat-select (selectionChange)="onEventSelectSalaInSessaos($event)" formControlName="selectSala">

              @for (item of salas$|async; track $index) {
              <mat-option [value]="item">{{item.name}}</mat-option>
              }
            </mat-select>


          </mat-form-field>

          <article class="container-sessao">
            @for (item of sessaos$|async; track $index) {
            <button mat-flat-button (click)="onEventGetAssentosInSessao(item)">
              Sessão das {{item.horaDoDia}} horas
            </button>
            }
          </article>

          <article class="container-assentos">
            @for (assento of assentos$|async; track $index) {

              @for (assentoOp of assento.AssentoOcupado; track $index) {

                  <button mat-fab [disabled]="assentoOp.ocupado" >
                    {{assento.numeroAssento}}
                  </button>

               }
              }


          </article>

          <article>
            <input type="date"
              formControlName="date"

               required>

          </article>
        </form>

      </section>



    </div>


  </div>
</div>
