<section>
  <article>
    <form [formGroup]="form">
      <mat-label class="label-input">Email</mat-label>
      <input type="text" formControlName="email">

      <mat-label class="label-input">Password</mat-label>
      <input type="text" formControlName="password">

      <p class="label">
        Não tem conta ?
        <a matListItemTitle [routerLink]="['/criarConta']">click aquí </a>
      </p>

      <button (click)="OnEventLogin()">ENTER</button>

      <a matListItemTitle [routerLink]="['']">home </a>

      <div>
        <p>signal:{{signal()}}</p>
        <p>computed: {{computedExemplo()}}</p>
        <p>showCount: {{showCount()}}</p>
      </div>

      <button (click)="executar()">signal++</button>
      <button (click)="executarShowCount()">ShowCount</button>

    </form>

  </article>
</section>
