<mat-card class="conatiner-content" style="width: 250px;">


  <mat-card-header>
    <mat-card-title>
      {{Filme.titulo}}

    </mat-card-title>


    <mat-card-subtitle>
      {{Filme.ano}}
    </mat-card-subtitle>
  </mat-card-header>



  <mat-card-content>
    <img [src]="Filme.imgPath">

    <mat-card-actions>
      <button class="btn-detanhar" mat-raised-button (click)="OnEventDetanhar(Filme)">
        DETANHAR
      </button>
      <button class="btn-event-list-cinema" mat-raised-button (click)="OnEventListCinema(Filme.id)">
        Comparar
      </button>
    </mat-card-actions>

 

  </mat-card-content>




</mat-card>


