<mat-card class="conatiner-content" style="width: 250px;">


  <mat-card-header>
    <mat-card-title>
      {{filme.titulo}}

    </mat-card-title>


    <mat-card-subtitle>
      {{filme.ano}}
    </mat-card-subtitle>
  </mat-card-header>



  <mat-card-content>
    <img [src]="filme.imgPath">

    <mat-card-actions>
      <button class="btn-detanhar" mat-raised-button (click)="onEventDetanhar(filme)">
        DETANHAR
      </button>
      <button class="btn-event-list-cinema" mat-raised-button (click)="onEventListCinema(filme)">
        Comparar
      </button>
    </mat-card-actions>



  </mat-card-content>




</mat-card>


