<mat-toolbar color="primary">

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span>My App</span>


  <mat-nav-list  class="contaner-list-nav">
    <mat-list-item>
      <a  matListItemTitle href="Filmes">Filmes</a>

    </mat-list-item>

    <mat-list-item>
      <a  matListItemTitle href="Produtora">Produtora</a>

    </mat-list-item>
    <mat-list-item>
      <a  matListItemTitle href="cinema">Cinema</a>

    </mat-list-item>
  </mat-nav-list>



</mat-toolbar>

<main >
  <app-home></app-home>
</main>

<footer>

</footer>
