<mat-card>
  <mat-card-header>

      <mat-card-title>
      <h2>{{Cinema.name}}</h2>
      </mat-card-title>
  </mat-card-header>

    @if(ViewFilmes){
      <mat-card-content>

        @for (f of Cinema.filmes_Em_Cartaz; track $index) {
        <app-card-filme [Filme]="f"></app-card-filme>
        }



      </mat-card-content>
    }

    <mat-card-actions>
       <button mat-raised-button class="btnViewFilmes" (click)="selectViewFilmes()">
        Mostrar Filmes
      </button>
    </mat-card-actions>




</mat-card>
