<mat-card>
  <mat-card-header>

      <mat-card-title>
      <h2>{{cinema.name}}</h2>
      </mat-card-title>
  </mat-card-header>

    @if(viewFilmes){
      <mat-card-content>

        @for (f of filmesEmSala; track $index) {

        <app-card-filme (eventComparar)="onEventNavigation($event)"  [filme]="f"></app-card-filme>
        }



      </mat-card-content>
    }

    <mat-card-actions>
       <button mat-raised-button class="btnViewFilmes" (click)="selectViewFilmes()">
        Mostrar Filmes
      </button>
    </mat-card-actions>




</mat-card>
