<mat-card>
  <mat-card-header>

      <mat-card-title>
      <h2>{{cinema.name}}</h2>
      </mat-card-title>
  </mat-card-header>

    @if(viewFilmes){
      <mat-card-content>


        @for (sala of this.salas ; track $index) {
        <h2 style="color: red;">{{sala.name}}</h2>
            <app-card-filme
            (eventComparar)="onEventNavigation($event,sala)"
              [filme]="sala.filme"></app-card-filme>

        }




      </mat-card-content>
    }

    <mat-card-actions>
       <button mat-raised-button class="btnViewFilmes" (click)="selectViewFilmes()">
        Mostrar Filmes
      </button>
    </mat-card-actions>




</mat-card>
