mat-card {
  width: 300px;
}


mat-card-header {
  display: flex;
  justify-content: center;
  background-color: rgb(245, 243, 243);

}

mat-card-content {
  height: 400px;

  overflow-y: auto;
  overflow-x: hidden;

  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


}

.btnViewFilmes {
  border: none;
  border-radius: 15px;
  width: 100%;
}
