<!-- <app-cinema-selection-component></app-cinema-selection-component> -->



<div class="conatiner-content ">
  @switch (this.url) {
  @case (PalavrasReservadas.PRODUTORA) {
  <div class="conatiner-list-Produtora">
    @for (p of Produtoras$|async ; track $index) {
    <app-card-Produtora [Produtora]="p"></app-card-Produtora>

    }

  </div>
  }

  @case (PalavrasReservadas.FILME) {
  <div class="conatiner-list-filme">
    @for (f of Filmes$|async ; track $index) {
    <app-card-filme (eventComparar)="OnEventVanegationFilme($event)" [filme]="f"></app-card-filme>

    }

  </div>
  }

  @case (PalavrasReservadas.CINEMA) {
  <div class="container-list-cinema">
    @for (c of Cinemas$|async ; track $index) {

    <app-card-cinema [cinema]=c></app-card-cinema>


    }
  </div>
  }

  @default {
  <div class="conatiner-list-Produtora">
    @for (p of Produtoras$|async ; track $index) {
    <app-card-Produtora [Produtora]="p"></app-card-Produtora>

    }

  </div>

  <div class="conatiner-list-filme">
    @for (f of Filmes$|async ; track $index) {
      <app-card-filme (eventComparar)="OnEventVanegationFilme($event)" [filme]="f"></app-card-filme>

    }

  </div>
  }


  }


  <!-- <div class="conatiner-carrosel">
  <div class="gallery-wrapper" #scrollbar>
    <div class="gallery">
      @for (img of  imgCarrosel() ; track $index) {

        <img [src]="img" #items class="item" alt="">

      }
    </div>
  </div>
  <button class="btn btn_R" (click)="scrollInto('r')">
    <mat-icon fontIcon="chevron_left">Arrow</mat-icon>

  </button>

  <Button class="btn btn_L" (click)="scrollInto('l')">
    <mat-icon fontIcon="chevron_right"></mat-icon>

  </Button>



</div> -->

  <app-carrosel></app-carrosel>

</div>
